<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zen Garden</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="./css/styles.css"/>

</head>
    <body id="body"></body>
        <div class="  bg-huntington" >
            <div class="grid grid-cols-6 grid-rows-1">
            <div class="grid col-span-4  py-20 " > 
            <div class="flex items-center  mx-auto">
                <div class="basis-32 mr-10 w-32 h-32 shrink-0 ">
                <img src="images/enso.svg"/>
                </div>
                <div>
                    <h1 class="uppercase text-white text-6xl"  >css zen garden</h1>
                    <div class="text-white ml-5 mt-3 opacity-75 text-2xl">The Beauty of CSS Design</div>
                </div>
            </div>
            </div>
            <div class=" col-span-2 bg-darker">
                <a class="verdemoderna " href="#">
                    <
                </a>
                <a href="#">

                </a>
                <a href="#">

                </a>

            </div>
            </div>

        </div>
        <div class="grid grid-cols-6 ">
            <div class="col-span-4 p-14 bg-purple-500">3</div>
            <div class="col-span-2">4</div>
            <div class="col-span-4 p-14 bg-blue-600">5</div>
            <div class="col-span-2">6</div>
            <div class="col-span-4 p-14 bg-yellow-200">7</div>
            <div class="col-span-2">8</div>
        </div>
        <div class=" w-full bg-orange-300">
            <div id='bx9'>9</div>
        </div>
        <div class=" w-full bg-slate-700">
            10
        </div>

        
    </body>
</html>