@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'verdemoderna';
  src: url("../fonts/verdemoderna.woff") format('woff');
}
h1 {
    font-family: 'Julius Sans One', sans-serif;
}

body {
    
    font-family: 'Libre Baskerville', sans-serif;
}

.bg-huntington {
    background-image: url("../images/gridlines-opaque.png"), url("../images/huntington.jpeg");
}

.bg-contours {
    background-image: url("../images/gridlines-opaque.png"), url("../images/koi.png"),;
}

.bg-huntington::before {
    opacity: 0.5;
    background-color: black;
    content: " ";
    width: 100%;
    display: block;
    height: 10px;
}

.bg-darker {

    background-color: rgba(0,0,0, 0.10);
    
}

.verdemoderna {

    font-family: verdemoderna;
    font-size: 75px;
}

.bg-sage {

    background-color: rgba(229,237,232,255);
}

.bg-darksage {

    background-color: rgba(20,67,71,255);
}

.parallax {
  /* The image used */
  background-image: url("../images/contours-opaque.png");

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
